<div id="bg-lab">
  <%- include bg-partials/bg-leftside-potion.ejs %>
  <%- include bg-partials/bg-main-potion.ejs %>
  <%- include bg-partials/bg-flasks.ejs %>
  <%- include bg-partials/bg-books.ejs %>
  <%- include bg-partials/bg-potions-rack.ejs %>
</div>
