<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detail</title>
</head>
<body>
  <img src=<%= coverimages[0].coverimage[1]._ %>>
  <ul>
    <li><%= titles[0]["short-title"][0]._ %></li>
    <li><%= authors[0]["main-author"][0]._ %></li>
    <li><%= formats[0].format[0]._ %></li>
  </ul>
  <p><%= summaries[0].summary[0]._ %></p>
</body>
</html>
