<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Detail</title>
</head>
<body>
  <%- include partials/header-nav.ejs %>
  <img src=<%= coverimages.coverimage[1]._ %>>
  <ul>
    <li><%= (!titles) ? "Geen titel" : titles["short-title"]._ %></li>
    <li><%= (!authors) ? "Geen auteurs" : authors["main-author"]._ %></li>
    <li><%= (!formats) ? "Geen formaten" : formats.format._ %></li>
    <li><%= (!publication) ? "Geen publicatie datum" : publication.year._ %></li>
  </ul>
  <ul>
    <% if (subjects) { %>
      <% if (!subjects["topical-subject"].length) { %>
        <li><%= subjects["topical-subject"]._ %></li>
      <% } else { %>
        <% subjects["topical-subject"].forEach(subj => { %>
          <li><%= subj._ %></li>
        <% }) %>
      <% } %>
    <% } %>
  </ul>
  <p><%= (!summaries) ? "Geen samenvatting" : summaries.summary._ %></p>
  <script src="../js/main.js"></script>
</body>
</html>
