<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search</title>
</head>
<body>

  <form method="POST" action="/submitWord">
    <input name="wordsBundle" type="hidden" value="<%= words %>">
    <input name="genresBundle" type="hidden" value="<%= genres %>">
    <input name="dataWord" type="text">
    <input type="submit" value="add word">
  </form>

  <form method="POST" action="/removeWord">
    <input name="wordsBundle" type="hidden" value="<%= words %>">
    <input name="genresBundle" type="hidden" value="<%= genres %>">

    <ul>
    <% for (let i = 0; i < words.length; i++) { %>
      <li><input name="dataWord" value="<%= words[i] %>" type="submit"><%= words[i] %></li>
    <% } %>
    </ul>
  </form>

  <% const allGenres = ["humor", "sport", "stripverhaal"] %>
  <form method="POST" action="/submitGenre">
    <input name="wordsBundle" type="hidden" value="<%= words %>">
    <input name="genresBundle" type="hidden" value="<%= genres %>">
    <h1>Genres</h1>
    <% allGenres.forEach(g => { %>
      <% if (!genres.includes(g)) { %>
      <input name="dataGenre" type="submit" value="<%= g %>">
      <% } %>
    <% }) %>
  </form>


  <form method="POST" action="/removeGenre">
    <input name="wordsBundle" type="hidden" value="<%= words %>">
    <input name="genresBundle" type="hidden" value="<%= genres %>">

    <ul>
    <% for (let i = 0; i < genres.length; i++) { %>
      <li><input name="dataGenre" value="<%= genres[i] %>" type="submit"><%= genres[i] %></li>
    <% } %>
    </ul>
  </form>


  <form method="POST" action="/results">
    <input type="hidden" name="wordsBundle" value="<%= words %>">
    <input type="submit">Ga zoeken</input>
  </form>
  <script src="/js/test.js"></script>
</body>
</html>
