<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>List</title>
</head>
<body>
  <%- include partials/header-nav.ejs %>
  <main id="l-results">
  <% results.forEach(d => { %>
    <article class="">
      <img src="<%= d.coverimages.coverimage[1]._ %>" alt="">
      <section>
        <h1 alt="hello world"><%= d.titles["short-title"]._ %></h1>
        <h2><%= d.authors["main-author"]._ %></h2>

        <a class="detail-link" href="/detail/<%= d.id.$.nativeid %>">Lees meer <span class="visuallyhidden">over <%= d.titles["short-title"]._ %></span></a>
      </section>
    </article>
  <% }) %>
  </main>
</body>
</html>
