<!DOCTYPE html>
<html lang="en">

<% const headTitle = "Zoek Woorden" %>
<%- include partials/head.ejs %>

<body>

  <%- include partials/header-nav.ejs %>

<a class="section-switch right" href="/search/genres<%= searchUrl %>">
  <span class="visuallyhidden">Ga naar </span>Genres</a>

  <form class="form-word add" method="POST" action="/submitWord">
    <input name="wordsBundle" type="hidden" value="<%= words %>">
    <input name="genresBundle" type="hidden" value="<%= genres[0] %>">
    <label for="wordAdd" class="visuallyhidden">Voeg een woord toe</label>
    <input id="wordAdd" name="dataWord" type="text">
    <button type="submit">Voeg toe</button>
  </form>

  <form class="form-word remove" method="POST" action="/removeWord">
    <input name="wordsBundle" type="hidden" value="<%= words %>">
    <input name="genresBundle" type="hidden" value="<%= genres[0] %>">
    <ul>
    <% for (let i = 0; i < words.length; i++) { %>
      <li><label for="wordLabel_<%= i %>"><%= words[i] %></label><input id="wordLabel_<%= i %>" name="dataWord" value="<%= words[i] %>" type="submit"></li>
    <% } %>
    </ul>
  </form>

  <%- include partials/bg-lab.ejs %>

  <a id="search-btn" href="/results<%= searchUrl %>">Zoeken</a>
</body>
</html>
