<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Search genres</title>
</head>
<body>

<a class="section-switch left" href="/search/words<%= searchUrl %>">Words</a>
<form class="form-genre add" method="POST" action="/submitGenre">
  <input name="wordsBundle" type="hidden" value="<%= words %>">
  <input name="genresBundle" type="hidden" value="<%= genres[0] %>">
  <% genres[1].forEach(g => { %>
    <% if (!genres[0].includes(g)) { %>
    <button name="dataGenre" type="submit" value="<%= g %>"><%= g %></button>
    <% } %>
  <% }) %>
</form>

<form class="form-genre remove" method="POST" action="/removeGenre">
  <input name="wordsBundle" type="hidden" value="<%= words %>">
  <input name="genresBundle" type="hidden" value="<%= genres[0] %>">

  <ul>
  <% for (let i = 0; i < genres[0].length; i++) { %>
    <li><%= genres[0][i] %><input type="submit" name="dataGenre" value="<%= genres[0][i] %>"></li>
  <% } %>
  </ul>
</form>

<a class="search-btn" href="/results<%= searchUrl %>">Zoeken</a>
</body>
</html>
