<!DOCTYPE html>
<html lang="en">

<% const headTitle = "Zoek Genres" %>
<%- include partials/head.ejs %>

<body>

<%- include partials/header-nav.ejs %>


<a class="section-switch left" href="/search/words<%= searchUrl %>"><span class="visuallyhidden">Ga naar </span>Woorden</a>

<form class="form-genre add" method="POST" action="/submitGenre">
  <input name="wordsBundle" type="hidden" value="<%= words %>">
  <input name="genresBundle" type="hidden" value="<%= genres[0] %>">
  <% genres[1].forEach(g => { %>
    <% if (!genres[0].includes(g)) { %>
    <button name="dataGenre" type="submit" value="<%= g %>"><%= g %></button>
    <% } %>
  <% }) %>
</form>

<form class="form-genre remove" method="POST" action="/removeGenre">
  <input name="wordsBundle" type="hidden" value="<%= words %>">
  <input name="genresBundle" type="hidden" value="<%= genres[0] %>">

  <ul>
  <% for (let i = 0; i < genres[0].length; i++) { %>
    <li><%= genres[0][i] %><input type="submit" name="dataGenre" value="<%= genres[0][i] %>"></li>
  <% } %>
  </ul>
</form>

<%- include partials/bg-lab.ejs %>

<a id="search-btn" href="/results<%= searchUrl %>">Zoeken</a>
</body>
</html>
